<header id="title-block-header">

<h1 class="title">$title$</h1>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <p>$author$</p>
    <p>$venue$ ($year$)</p>
</div>

$if(publication)$
<a href=$publication$ class="btn btn-light" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-file-earmark-text"></i> Publication
</a>
$endif$

$if(preprint)$
<a href=$preprint$ class="btn btn-light" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-file-earmark-text"></i> Preprint
</a>
$endif$

$if(code)$
<a href=$code$ class="btn btn-light" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-code-slash"></i> Code
</a>
$endif$

</header>
